body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(../Assets/Images/pixel_cursor.png), auto;
}

button {
  cursor: url(../Assets/Images/pixel_pointer.png), auto;
}

.nes-btn {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url(../Assets/SVGs/border.svg);
  border-image-outset: 2;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #212529;
  background-color: #fff;
  border-style: solid;
  border-width: 8px;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: '';
  box-shadow: inset -4px -4px #006bb3, inset 4px 4px #4db8ff;
  transition: all ease-in-out 0.1s;
}

.nes-btn.is-primary {
  color: #fff;
  background-color: #209cee;
}

.nes-btn.is-primary:hover {
  color: #fff;
  text-decoration: none;
  background-color: #108de0;
  box-shadow: inset -6px -6px #209cee, inset 6px 6px #006bb3, 12px 12px rgba(0, 0, 0, 0.25);
}

.nes-btn.is-primary:hover::after {
  box-shadow: inset -6px -6px #006bb3;
}

/* .nes-btn.is-primary:focus {
  box-shadow: 0 0 0 6px rgba(0, 107, 179, 0.3);
} */

.nes-btn.is-primary:active:not(.is-disabled)::after {
  box-shadow: inset 4px 4px #006bb3;
}
.nes-btn.is-disabled,
.nes-btn.is-disabled:hover,
.nes-btn.is-disabled:focus {
  color: #212529;
  cursor: not-allowed;
  background-color: #d3d3d3;
  box-shadow: inset -4px -4px #adafbc;
  opacity: 0.6;
}

#window {
  width: 100%;
  height: 100vh;
  /* background-image: url(./Assets/Images/undefined\ -\ Imgur.gif); */
  background-image: url(https://cdna.artstation.com/p/assets/images/images/031/215/370/original/camille-unknown-nigth.gif?1602952636);
  /* background-position-x: -10%; */
  background-position-y: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#character-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* bottom: 95vh; */
  width: 100vw;
  height: 100vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#starter-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Draconis';
}

#starter-screen > span {
  color: rgb(255, 191, 0);
  font-size: 3em;
}

#starter-screen > p {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  animation: 2s ease 0s infinite blink;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#starter-screen > img {
  width: 50em;
  margin-bottom: 25px;
}

#current-screen-header {
  text-align: center;
  user-select: none;
  pointer-events: none;
  position: absolute;
  font-family: 'Draconis';
  color: rgb(255, 191, 0);
  width: 275px;
  height: auto;
  font-size: 2em;
  padding-bottom: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#current-screen-header svg {
  margin-top: 15px;
  fill: rgb(255, 191, 0);
  width: 20px;
}

#current-screen-header .header-container {
  height: 36.5px;
}

.ui-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  max-width: 1000px;
  transform: translateX(0vw);
  width: 75vw;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: transform 0.25s;
  border-image-slice: 3;
  border-image-width: 12;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  padding: 1rem 1.5rem;
  margin: 8px;
  border-style: inset;
  border-color: rgb(255, 191, 0);
  border-width: 4px;
}

#member-selection > button {
  font-family: 'Draconis';
  font-size: 30px;
  width: 150px;
  height: 150px;
  margin: 50px;
}

#back-button {
  width: 60px;
  height: 60px;
  margin: 30px;
}

#back-button:hover > svg {
  fill: rgba(255, 255, 255, 1);
}
#back-button:hover + span {
  opacity: 1;
  animation: 1s ease 0s infinite blink;
}

#back-button > svg {
  width: 25px;
  fill: rgba(255, 255, 255, 0.5);
}

#back-button + span {
  opacity: 0;
  font-family: 'Draconis';
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  width: 25px;
  transition: all ease 0.5s;
}

#back-button-container {
  position: absolute;
  left: 0;
  bottom: 0;
}

#character-card-container {
  width: 30%;
  height: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

#character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#character-card > img {
  width: 80%;
  height: auto;
}

#character-card #details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Draconis';
  margin: 20px;
}

#character-card #details-container span {
  font-size: 30px;
  color: #006bb3;
}

#character-card #details-container p {
  margin-block-start: 10px;
  font-size: 20px;
}

#character-collection-container {
  width: min-content;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url(../Assets/SVGs/container-border.svg);
  border-image-outset: 2;
  border-style: solid;
  border-width: 6px;
  padding: 1rem 1.5rem;
  margin: 4px;
  box-shadow: 12px 12px rgba(0, 0, 0, 0.25);
}

#character-collection-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  height: auto;
}

#character-collection-container .tile-container {
  margin: 15px;
  height: 100px;
  width: 100px;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: url(../Assets/Images/pixel_pointer.png), auto;
  transition: all ease 0.25s;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: repeat;
  border-image-source: url(../Assets/SVGs/container-border.svg);
  border-image-outset: 2;
  border-style: solid;
  border-width: 4px;
}

#character-collection-container .tile-container:hover {
  box-shadow: 8px 8px rgba(0, 0, 0, 0.25);
}

#character-collection-container .tile-container:hover img {
  opacity: 0.5;
}
#character-collection-container .tile-container:hover span {
  opacity: 1;
}

#character-collection-container .tile-container img {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: all ease 0.25s;
  pointer-events: none;
}

#character-collection-container .tile-container span {
  opacity: 0;
  position: absolute;
  width: 100px;
  height: auto;
  text-align: center;
  font-family: 'Draconis';
  font-size: 30px;
  color: #006bb3;
  transition: all ease 0.25s;
  pointer-events: none;
}
